<%- include partials/header.ejs %>

<body>
    <%- include nav.ejs %>

    <h1 style="text-align: center"><%= message %></h1>
    <div class="container">
        <h2>Instructions</h2>
        <div>
            TBC
        </div>
    </div>

    <%- include partials/footer.ejs %>
</body>

</html>