<%- include partials/header.ejs %>


<body>
<%- include nav.ejs %>

<table class="table table-responsive-lg table-dark table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">CloudFormation Stack</th>
        <th scope="col">Stage</th>
        <th scope="col">ASG Name</th>
        <th scope="col" class="th-md">Minimum Size</th>
        <th scope="col" class="th-md">Desired Size</th>
        <th scope="col" class="th-md">Maximum Size</th>
        <th scope="col" class="th-md">Alive</th>
        <th scope="col">Switch</th>
    </tr>
    </thead>

<tbody id="sb-table"></tbody>


</table>

<%- include partials/footer.ejs %>

</body>
<script>
    const doTheThing = (event) => {
        const formData = new FormData(event.target.form)
        const {stackName, min} = Object.fromEntries(formData)
        console.log('stuff', stackName, min)
        if (min > 0) {
            fetch("/api/scaledown", {body: JSON.stringify({stackName, min}), method: "POST"})
                .then(response => response.json())
                .then(res => {
                    setInterval(doTheOtherThing, 1000);
                })
        } else {
            fetch("/api/scaleup", {body: JSON.stringify({stackName, min}), method: "POST"})
                .then(response => response.json())
                .then(res => doTheOtherThing())
        }
    }

    const doTheOtherThing =() => {
        console.log("did the thing!")
        fetch("/table")
            .then(async response => response.text())
            .then(res => document.querySelector("#sb-table").innerHTML = res)
    }

    doTheOtherThing()

</script>

</html>